@import "tailwindcss";

@theme inline {
  --color-greenprimary: #8ed4c6;
  --color-redprimary: #ed85b0;
  --color-purpleprimary: #802bff;
  --color-yellowprimary: #ffde90;
  --color-blackprimary: #000000;
  --color-whiteprimary: #ffffff;
  --drop-shadow-small: 6px 6px 0 #000000;
  --drop-shadow-big: 12px 12px 0 #000000;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .font-outline-2 {
    -webkit-text-stroke: 2px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

body {
  background: var(--color-whiteprimary);
  color: var(--color-blackprimary);
}
