@import "tailwindcss";

@theme inline {
  --color-greenprimary: #1da98d;
  --color-redprimary: #dc1667;
  --color-purpleprimary: #802bff;
  --color-yellowprimary: #ffc02b;
  --color-blackprimary: #333333;
  --color-whiteprimary: #ffffff;
  --drop-shadow-small: 6px 6px 0 #333333;
  --drop-shadow-big: 12px 12px 0 #333333;
}

body {
  background: var(--color-whiteprimary);
  color: var(--color-blackprimary);
}
